.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 15px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 31px;
}

.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 150px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    background: #eaeaea;
    
}

.input.img{
    margin: 0px 30px;
}

.input input{
    height: 25px;
    width: 200;
    font-size: 20px;

}

.forgot-password{
    font-size: 12px;
    color: black;
}

.forgot-password span{
    color: #3c009d;
    cursor: pointer;
}

.submit-container{
    font-size: 18px;
    display: flex;
    gap: 30px;
    margin: 6px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 15px;
    font-size: 19px;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

.title{
    font-size: 30px;
    color: #eaeaea;
    text-align: center;
    
    
}