.new-password-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-password-card {
  width: 350px;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
}

.new-password-title {
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-container input {
  flex: 1;
  margin-left: 10px;
  padding: 8px;
}
